# CMake build output
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Visual Studio
*.user
*.suo
*.sdf
*.VC.db
*.VC.opendb
*.pdb
*.ilk
*.exp
*.lib

# Output binaries
*.dll
*.dylib
*.so

# IDE
.vs/
.vscode/settings.json
